html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 0) {
    width: 320px;
  }
  @media screen and (min-width: 35.5em) {
    width: 568px;
  }
  @media screen and (min-width: 48em) {
    width: 750px;
  }
  @media screen and (min-width: 80em) {
    width: 1170px;
  }
}

.full-width { width: 100%; }

.hidden-xs {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.main-content {
  height: 100%;
  > .pure-g {
    height: 100%;
    > .pure-u-1 { height: 100%; }
  }
}

.discuss {
  height: calc(80% - 10px);
  margin-bottom: 10px;
  overflow-y: auto;
}

.editor {
  height: 20%;
  textarea { height: 100%; }
}

.msg-container {
  .msg-right, .msg-left { display: flex; }
  .msg-right { justify-content: flex-end; }
  .msg-left { justify-content: flex-start; }
  .msg-text {
    max-width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .msg-left .msg-text { border-radius: 0 4px 4px 4px; }
  .msg-right .msg-text { border-radius: 4px 0 4px 4px; }
}
