doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto")
    link(rel="stylesheet", href="/dist/style.css")
  body      
    block content
    
    script(src="dist/vendor.js")
    script(src="dist/bundle.js")
